
body{
   background-color: white;
}

.navbar{
    background-color:#004673;
}
*{
    box-sizing: border-box;
}

ul li > a{
   color:  #FBFBFE;
}

ul li >a:hover{
    border-bottom: 4px solid orange;
}


nav{
    font-size:18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


